$def with(problem,solution,theirsolution,comments,correct=False)




$:problem.content <br>
Values given:<br>
$for i in problem.lists
  $i : $problem.lists[i]
  <br>
$for i in problem.constants
  $i : $problem.constants[i]
      <br>
<form name="regen" method="post">
<input type="text" name="action" value="new" hidden="true">
<input type="submit" value="Generate new instance" class="input">
</form>

<form name="regen" method="post">
<input type="text" name="action" value="showsolution" hidden="true">
<input type="submit" value="View Instance Solution" class="input">
</form>
<form name="regen" method="post">
<input type="text" name="action" value="nextvalue" hidden="true">
<input type="submit" value="Show next value" class="input">
</form>

<p>
To see an explanation of the table put your pointer <i title="$problem.tableexplanation"> here </i>. <p>

$if solution.show:
  Here are the correct values for this instance:
$else:
  Can you input the correct values for this instance?
<form name="main" method="post"> 
$code:
  if problem.dimensions[0]==1:
    rows=1
    columns=len(solution.table)
  else:
    rows=len(solution.table)
    for i,v in enumerate(solution.table[0]):
      if v is None:
	columns=i
	break
	
$for i in range(rows):
  <br>
  $for j in range(columns):
    $code:
      value=""
      path=""
      if problem.dimensions[0]==1:
	id=j
	value=solution.table[j]
	path=solution.path[j]
      else:
	id = j +columns*i
	value=solution.table[i][j]
	path=solution.table[i][j]
      if value is None:
	continue
      elif id>context.solutionindex:
	value=""
	path=""
      
    
    <input type="text" size="3" maxlength="3" id="$id" name="$id" value='$value' title='$path'  class="td" >
  
<input type="submit" class="input">
</form>
  
$if solution.show:
  Can you now input the recurrence relation?
$else:
  Or can you input the recurrence relation?
  
<form name="recurrence" method="post"> 
<textarea class="FormElement" name="recterms" id="term" cols="40" rows="4">
$if context.hintlevel>0:
  $context.hint
</textarea>
<input type="submit" class="input" id="hint" value="hint me">
<input type="submit" class="input">
</form>

<form name="regen" method="post">
<input type="text" name="action" value="solution" hidden="true">
<input type="submit" value="View Problem Solution" class="input">
</form>

$if theirsolution is not None:
  $for i in range(rows):
    <br>
    $for j in range(columns):
      $code:
	value=None
	if rows>1:
	  value=theirsolution[i][j]
	else:
	  value=theirsolution[j]
      $if value is not None:
	<input type="text" size="3" maxlength="3" id="$id" name="$id" value='$value'  class="td" >
      
      
$if correct:
  Correct!
 
<h1> Comment </h1>  
<form method="post">
<input type="hidden" name="action" value="comment">
<textarea name="comment" cols="40" rows="4"></textarea>
<input type="submit" class="input">
</form>
$for comment in comments:
  <div class="comment">
  $comment.user
  <br>
  $comment.comment
  </div>