$def with (content)

<head>
<link rel="shortcut icon" href="/static/icon.ico">

<title>Dynamo</title>
<link href="/static/maincss.css" rel="stylesheet" type="text/css">

<script type="text/javascript">


function highlight(id,value){
var elem = document.getElementById(id);
elem.title=value;
}

function unhighlight(elem){
elem.style.backgroundColor="rgb(0,144,227)";
}

function show_hide(id){
var elem=document.getElementById(id);
if (elem.style.display=='none') elem.style.display='inline';
else elem.style.display='none';
}

function scroll(){
var elem=document.getElementById("scroll");
document.getElementById(elem.innerHTML).scrollIntoView(true);
}
</script>



</head>

<body onload="scroll();">

<div id="top">
<img style="float: right;" src="/static/logo.png">
</div>
<div id="content">
  <div id="left">
  <center>Menu
 <br> <br>
 <A href="/collection" class="f"> Get Dynamic </A> <br>
 <A href="/achievements"> Achievements </A> <br>

 <A href='/signout'>  Sign out </A> <br>
</center>
  </div>

  <div id="main">
  
 
  
$:content

 
  </div>
  </div>
  

  
  


</body>
</html> 
