$def with(name)
<head>

 <script type="text/javascript" src="src/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="src/jquery.fixedMenu.js"></script>
 <script>
        $('document').ready(function(){
            $('.left').fixedMenu();
        });
        </script>
<title>Dynamo</title>
<link href="/static/maincss.css" rel="stylesheet" type="text/css">
</head>

<body>
$code:
  def number(x,y):
    return 10*x+y+1
<div id="top">
<img style="float: right;" src="/static/logo.png">
</div>
<div id="content">
  <div id="left">
  <center>Menu </center>
  <ul> 
  <li> Get Dynamic
  <li> Achievements
  <li> Extras
  <li> Account 
  <li> Sign out
  </ul>
  </div>

  <div id="main">
<center> Main Content

<table border="1px">
$for i in range(3):
  <tr>
  $for j in range(10):
    <td width="2%" height="50px"> $number(i,j) </td>
  </tr>
</table>
 </center>
  </div>
  </div>
</body>