$def with (form,problem,description,constants=3,arrays=3)



<form method="POST">
  
  $:form.render()
  
  
<b>Description</b>:
<br>
      
<textarea class="FormElement" name="description" id="term" cols="40" rows="4"  >$description['description']</textarea>
<br>
<b> Recurrent Solution: <br>
<textarea class="FormElement" name="recurrence" id="term" cols="40" rows="4">$description['recurrence']</textarea> 
<br>
Constants:<br>
<table>
$if description['constants']:
  
  $for i in range(len(description['constants'])):
    Name: <input type="text" name="constantsnames" value=$description['constants'][i][0]> Minimal Value: <input type="number"  style="width:50px" name="constantsmin" value="0" size="3"> Maximal Value: <input type="number" style="width:50px" name="constantsmax" value=$description['constants'][i][1] size="3">
    <br>
$else:
  $for i in range(constants):
    Name: <input type="text" name="constantsnames" > Minimal Value: <input type="number" name="constantsmin" value="12" style="width:50px" size="3"> Maximal Value: <input type="number" style="width:50px" name="constantsmax" size="3">
    <br>
Arrays:<br>
$for i in range(arrays):
  Name: <input type="text" name="arraysnames"> Number of items: <input type="number" style="width:50px" name="arraysnum" size="3"> Minimal Value: <input type="number" style="width:50px" name="arraysmin" size="3"> Maximal Value: <input type="number" style="width:50px" name="arraysmax" size="3">
  <br>

<input type="submit" value="Enter" class="input">
</form>

 