$def with(problem,solution,theirsolution,comments,builders,correct=False,message='',theircommands=None,checks=None)
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    
<script type="text/javascript">-->

/*
function next_value(){
var idnow=id.toString();
var elem=document.getElementById(idnow);
elem.setAttribute("value", values[id]);
elem.title=paths[id];
id=id+1; 
}*/



</script>


$:problem.content <br>
Example Input:<br>
$for i in problem.lists
  $i : $problem.lists[i]
  <br>
$for i in problem.constants
  $i : $problem.constants[i]
      <br>
      
      
      
      
$if problem.hints is not None:
  $for p in range(len(problem.hints)):
    <div> </div>
    <input type="button" class="input" onclick="show_hide('h_$p');" value="Hint $p"> 
    <div id="h_$p" style="display:none"> $problem.hints[p] </div>
    
<br>
    
$if problem.video is not None:
  <input type="button" class="input" onclick="show_hide('vid');" value="Video"> <br>
 <center> <div id="vid" style="display:none"> <video controls> <source src="$problem.video" > </video> </div> </center>
<form name="regen" method="post">
<input type="text" name="action" value="new" hidden="true">
<input type="submit" value="Generate new instance" class="input">
</form>

<form name="regen" method="post">
<input type="text" name="action" value="showsolution" hidden="true">
<input type="submit" value="View Instance Solution" class="input">
</form>
<form name="regen" method="post">
<input type="text" name="action" value="nextvalue" hidden="true">
<input type="submit" value="Show next value" class="input">
 <input type="button" class="input" onclick="next_value('0');" value="NEXT" style="display:none">
</form>






You can explore the solution to this instance by using the buttons above and hovering your mouse over the computed values.
<form name="main" method="post"> 
$code:
  if problem.dimensions[0]==1:
    rows=1
    columns=len(solution.table)
  else:
    rows=len(solution.table)
    for i,v in enumerate(solution.table[0]):
      if v is None:
	columns=i
	break
	
$for i in range(rows):
  <br>
  $for j in range(columns):
    $code:
      value=""
      path=""
      if problem.dimensions[0]==1:
	id=j
	value=solution.table[j]
	path=solution.path[j]
      else:
	id = j +columns*i
	value=solution.table[i][j]
	path=solution.path[i][j]
      if value is None:
	continue
      elif id>=context.solutionindex:
	value=""
	path=""
      
    
    <input type="text" size="3" maxlength="3" id="$id" name="$id" value='$value' title='$path'  class="td" >
  

</form>
<p>
To see an explanation of the table put your pointer <i title="$problem.tableexplanation"> here </i>. <p>

Please input the recurrence relation using either the command-based mode or the menu-based mode. You are currently using the menu-based mode.
<br>
To switch to a command-based mode<A href="problem?idp=$context.idp"> click here</A>.

<form name="recurrence2" method="post">

$for commandrow in range(6):
    <br>
    <select name="left$commandrow">
    <option value=""></option>
    $for left in builders[0]:
            <option value="$left"> $left </option>
     </select>
    =
    <select name="function$commandrow">
    <option value=""></option>
    $for function in builders[1]:
        <option value="$function"> $function</option>

    </select>
    $if len(builders)>2 and len(builders[2])>1:
        <select name="forclause$commandrow">
        <option value=""></option>
        $for forclause in builders[2]:
            <option value="$forclause"> $forclause</option>
        </select>
    $if len(builders)>3 and len(builders[3])>1:
        <select name="whereclause$commandrow">
        <option value=""></option>
        $for whereclause in builders[3]:
            <option value="$whereclause"> $whereclause</option>
        </select>
    <br>
<input type="submit" class="input">
</form>




$if theirsolution is not None:
  <h1> Output </h1>  
  $for i in range(rows):
    <br>
    $for j in range(columns):
      $code:
	value=None
	if rows>1:
	  value=theirsolution[i][j]
	else:
	  value=theirsolution[j]
      $if value is not None:
	<input type="text" size="3" maxlength="3" id="$id" name="$id" value='$value'  class="td" >
  
      
      
$if correct:
  Correct!




$if checks:
  <h1> Validation</h1>
  <input type="button" class="input" onclick="show_hide('validation');" value="Click to expand validation">
  <div id="validation" style="display:none">

  $for check in checks:
    <div class="comment">
    <br>
    $check[0]
    <br>
    $if len(check)>1:
      $for i in check[1]
	$i : $check[1][i]
	<br>
      
      $for i in check[2]
	$i : $check[2][i]
	<br>
      
    Table generated by system: 
    $for i in range(rows):
      <br>
      $for j in range(columns):
	$code:
	  value=None
	  if rows>1:
	    value=check[3][i][j]
	  else:
	    value=check[3][j]
	$if value is not None:
	  <input type="text" size="3" maxlength="3" id="$id" name="$id" value='$value'  class="td" >
    <br>Table generated by your algorithm:
    $for i in range(rows):
      <br>
      $for j in range(columns):
	$code:
	  value=None
	  right=False
	  if rows>1:
	    value=check[4][i][j]
	    if check[4][i][j]==check[3][i][j]:
	      right=True
	  else:
	    value=check[4][j]
	    if check[4][j]==check[3][j]:
	      right=True
	$if value is not None:
	  $if right:
	    <input type="text" size="3" maxlength="3" id="$id" name="$id" value='$value'  class="tdr" >
	  $else:
	     <input type="text" size="3" maxlength="3" id="$id" name="$id" value='$value'  class="tdw" >
    </div>
  </div>
$if message:
  $:message
  
<h1> Comment </h1>  
<form method="post">
<input type="hidden" name="action" value="comment">
<textarea name="comment" cols="40" rows="4" class="box"></textarea>
<input type="submit" class="input">
</form>
$for comment in comments:
  <div class="comment">
  $comment.user
  <br>
  $comment.comment
  </div>