$def with(problem,solution,theirsolution,comments,correct=False,message='')
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    
<script type="text/javascript">-->

/*
function next_value(){
var idnow=id.toString();
var elem=document.getElementById(idnow);
elem.setAttribute("value", values[id]);
elem.title=paths[id];
id=id+1; 
}*/



</script>


$:problem.content <br>
Example Input:<br>
$for i in problem.lists
  $i : $problem.lists[i]
  <br>
$for i in problem.constants
  $i : $problem.constants[i]
      <br>
      
      
      
      
$if problem.hints is not None:
  $for p in range(len(problem.hints)):
    <div> </div>
    <input type="button" class="input" onclick="show_hide('h_$p');" value="Hint $p"> 
    <div id="h_$p" style="display:none"> $problem.hints[p] </div>
    
<br>
    
$if problem.video is not None:
  <input type="button" class="input" onclick="show_hide('vid');" value="Video"> <br>
 <center> <div id="vid" style="display:none"> <video controls> <source src="$problem.video" > </video> </div> </center>
<form name="regen" method="post">
<input type="text" name="action" value="new" hidden="true">
<input type="submit" value="Generate new instance" class="input">
</form>

<form name="regen" method="post">
<input type="text" name="action" value="showsolution" hidden="true">
<input type="submit" value="View Instance Solution" class="input">
</form>
<form name="regen" method="post">
<input type="text" name="action" value="nextvalue" hidden="true">
<input type="submit" value="Show next value" class="input">
 <input type="button" class="input" onclick="next_value('0');" value="NEXT" style="display:none">
</form>




<p>
To see an explanation of the table put your pointer <i title="$problem.tableexplanation"> here </i>. <p>

$if solution.show:
  Here are the correct values for this instance:
$else:
  Can you input the correct values for this instance?
<form name="main" method="post"> 
$code:
  if problem.dimensions[0]==1:
    rows=1
    columns=len(solution.table)
  else:
    rows=len(solution.table)
    for i,v in enumerate(solution.table[0]):
      if v is None:
	columns=i
	break
	
$for i in range(rows):
  <br>
  $for j in range(columns):
    $code:
      value=""
      path=""
      if problem.dimensions[0]==1:
	id=j
	value=solution.table[j]
	path=solution.path[j]
      else:
	id = j +columns*i
	value=solution.table[i][j]
	path=solution.table[i][j]
      if value is None:
	continue
      elif id>=context.solutionindex:
	value=""
	path=""
      
    
    <input type="text" size="3" maxlength="3" id="$id" name="$id" value='$value' title='$path'  class="td" >
  
<input type="submit" class="input">
</form>
  
$if solution.show:
  Can you now input the recurrence relation?
$else:
  Or can you input the recurrence relation?
  
<form name="recurrence" method="post"> 
<textarea class="FormElement" name="recterms" id="term" cols="40" rows="4">
$if context.hintlevel>0:
  $context.hint
</textarea>
<input type="submit" class="input" name="hint" value="Hint me" title="You can press this button to view part of the solution to the problem!">
<input type="submit" class="input">
</form>



$if theirsolution is not None:
  <h1> Output </h1>  
  $for i in range(rows):
    <br>
    $for j in range(columns):
      $code:
	value=None
	if rows>1:
	  value=theirsolution[i][j]
	else:
	  value=theirsolution[j]
      $if value is not None:
	<input type="text" size="3" maxlength="3" id="$id" name="$id" value='$value'  class="td" >
  
      
      
$if correct:
  Correct!
$if message:
  $:message
  
<h1> Comment </h1>  
<form method="post">
<input type="hidden" name="action" value="comment">
<textarea name="comment" cols="40" rows="4"></textarea>
<input type="submit" class="input">
</form>
$for comment in comments:
  <div class="comment">
  $comment.user
  <br>
  $comment.comment
  </div>