$def with(problem,form)

 
$:problem.content <br>
Values given:<br>
$for i in problem.lists
  $i : $problem.lists[i]
  <br>
$for i in problem.constants
  $i : $problem.constants[i]
  <br>
      
Can you enter the dimensions of the table? Think about what kind of a table would be useful. What kind of subproblems can we solve? What is the base case?
  
$if form:
  <form name="main" method="post"> 
  $:form.render()
  
    </form>
    
    If not then jump to  <form name="tablef" method="post">
  <input type="text" name="action" value="table" hidden="true">
  <input type="submit" value="Table Instance" class="input">
  </form> or jump directly to <form name="solf" method="post">
  <input type="text" name="action" value="solution" hidden="true">
  <input type="submit" value="the solution" class="input">
  </form> 
  