$def with(form)

<center>

<h1>Dynamo</h1></center>
Welcome to the Dynamo Dynamic Programming Tutor! Dynamic programming is a problem solving strategy in which solutions are expressed
recursively, and sub-solutions are reused. This technique can be used to solve or to improve the solutions to many challenging problems.
It has a wide range of applications in mathematics and informatics and it is frequently assessed by companies. <br>
The Dynamo system is designed to help you learn, understand and master dynamic programming. Please sign in to start
        your learning experience. <br> <br>
<form method="POST">
    $:form.render()
    <input type="submit" value="Enter" class="input">
</form>
No account?<A href="/register"> <input type="submit" class="input"> </A>
 